gradio==4.22.0
xformers==0.0.20
torch==2.0.1
torchvision==0.15.2
diffusers==0.25.0
transformers==4.36.2
huggingface-hub==0.23.0
spaces==0.19.4
numpy
accelerate
safetensors
omegaconf
peft
httpx==0.27.0
safetensors==0.4.0
